/* Importer les font family et les icones */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Poppins;
}

/* Déclaration de couleurs à utiliser */

:root {
  --ecrit: #fefefe;
  --background1: #36494e;
  --background2: #2b2424;
  --background3: whitesmoke;
  --rouge: #804141;
  --btn: #1d77d1ef;
  --btnhover: #114be9;

  /* Les variables pour couper le long paragraphe de la section apropos contener valeur */

  --line-h: 24px;
  --ntn-line-valeur: 18;
}

body {
  background: var(--ecrit);
  color: var(--background2);
}

.main {
  height: 100vh;
  width: 100%;
}

.section {
  max-width: 1100px;
  margin: 0 auto;
}

.icone i {
  color: var(--ecrit);
  font-size: 20px;
  border-radius: 50%;
  background: var(--background3);
  color: var(--background2);
  width: 35px;
  height: 35px;
  vertical-align: middle;
  padding-top: 8px;
  cursor: pointer;
}

.btn {
  border: none;
  background: var(--btn);
  padding: 15px 20px;
  border-radius: 100px;
  color: var(--ecrit);
  font-size: 1.06rem;
}

.btn:hover {
  border: none;
  padding: 15px 20px;
  background: var(--btnhover);
  border-radius: 100px;
  color: var(--ecrit);
  font-size: 1.06rem;
  cursor: pointer;
}

/* Style de l'entete du Site */

.entete {
  background: var(--background1);
  color: var(--ecrit);
  position: sticky;
  top: 0;
  height: 50px;
}

.section.entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entete-gauche {
  display: flex;
  align-items: center;
}

.icone.gauche {
  margin-left: 15px;
}

.icone.gauche i {
  padding-left: 7px;
  cursor: pointer;
}

.entete-droite a {
  text-align: center;
  margin-left: 25px;
}

/* Style de la Section navbar */
.navbar {
  box-shadow: 0px 0px 5px var(--background3);
  position: sticky;
  top: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}

.section.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section.nav .liens ul {
  display: flex;
}

.section.nav .liens ul li a {
  margin-right: 25px;
  color: var(--background2);
  font-weight: 600;
}

/* Style de la section présentation */

.presentation {
  max-width: 100%;
  height: 100vh;
  background: var(--background3);
}

.presentation .section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation .section h3 {
  margin-bottom: 20px;
  color: var(--background2);
  font-size: 1rem;
}

.presentation .section h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
  color: var(--background2);
  margin-bottom: 20px;
}

.presentation .section .reve {
  color: var(--background3);
  font-size: 3rem;
  background: var(--rouge);
  padding: 0 5px 0 9px;
}

.presentation .section .imgbatiment img {
  height: 330px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px var(--background2);
}

.presentation .section .imgbatiment img:hover {
  transform: scale(1.01);
}

/* Style de la partie A propos */

.vision,
.domaine {
  background: var(--background3);
  padding-bottom: 60px;
}

.apercu {
  margin-bottom: 40px;
}

.apercu h2,
.vision h2,
.nosvaleurs h2,
.domaine h2 {
  margin: 50px 0;
  text-align: center;
  font-size: 2.5rem;
}

.domaine h2 {
  padding-top: 50px;
}

.apercu p,
.vision p,
.nosvaleurs p,
.domaine .faire p {
  margin: 0px 30px 15px 0;
  line-height: 24px;
}

.vision p {
  margin: 0px 0px 15px 30px;
}

.apercu img {
  height: 280px;
}

.vision img,
.nosvaleurs img,
.apercu img {
  border-radius: 12px;
  box-shadow: 0px 0px 5px var(--background2);
  height: 350px;
}

.contener-apercu,
.contener-vision,
.contener-valeur {
  display: flex;
  align-items: center;
}

.domaine .faire {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.domaine .faire p {
  text-align: justify;
}

.domaine .faire i {
  font-size: 1.4rem;
  vertical-align: middle;
  margin-right: 5px;
  color: var(--btnhover);
}

/* Style footer */

.footer {
  background: var(--background2);
  height: 340px;
  color: var(--ecrit);
}

.contener-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding-top: 40px;
  margin-bottom: 30px;
}

.aide ul li {
  margin: 0 0 20px 7px;
}

.aide ul li a {
  color: var(--ecrit);
  padding: 10px;
  font-weight: 500;
}

.aide ul li a:hover {
  background: var(--ecrit);
  border-radius: 8px;
  color: var(--background2);
  font-weight: 600;
}

.expertise,
.aide,
.contact {
  border-left: 1px dashed var(--background3);
}

.expertise h3,
.aide h3,
.contact h3 {
  margin: 0 0 20px 7px;
  font-size: 16px;
}

.expertise p,
.contact p {
  line-height: 24px;
  margin-left: 7px;
  font-size: 14px;
}

.contact p {
  line-height: 32px;
}

.contact i {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: middle;
}
